.big_grid_container {
    display: grid;
}

.input_grid_container {
    display: grid;
    grid-template-columns: 200px 200px 200px;
}

.result_grid_container {
    display: grid;  
    grid-template-columns: 1fr 1fr 1fr;
}

#file1 {
    grid-column: 1;
    grid-row: 2;
}

#file2 {
    grid-column: 2;
    grid-row: 2;
}

#upload-files {
    grid-column: 3;
    grid-row: 1;
}

#download-file {
    grid-column: 3;
    grid-row: 2;
}

#result1 {
    grid-column: 1;
    grid-row: 1;
}

#result2 {
    grid-column: 2;
    grid-row: 1;
}

#result3 {
    grid-column: 3;
    grid-row: 1;
}
